@-moz-document regexp("^https?://([\\w\\d]+\\.)?lbry\\.tv\\/([-a-zA-Z0-9@:%_\\+.,~#?&//='/(/)!]*)/([-a-zA-Z0-9@:%_\\+.,~#?&//=/'/(/)!]*)(/)?") {
:root{
  --header-height: 0px;
}
.header{
  --header-height: 80px;
  transition: .1s;
  height: 0.6%;
  overflow: hidden;
  opacity: 0;
}
.header:hover{
  height: 80px;
  overflow: visible;
  opacity: 1;
}
.media__uri{
  top: 100vh;
}
.file-render{
  max-height: none;
}
.content__viewer{
  --card-radius: 0px;
  border: none !important;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100vh;
  max-height: 100vh;
}
.file-page__video-container{
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}
/*
.main-wrapper__inner > div:nth-child(2){
  margin-top: 100vh;
}
*/
}